    .hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    }
    .wrapper {
    width: 1366px;
    height: 100%;
    margin: auto;
    .textContainer {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;

        img {
        width: 50px;
        }

        h2 {
        font-size: 30px;
        color: #940b92;
        }
        h1 {
        font-size: 88px;
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        gap: 20px;
        button {
        z-index: 88;
        padding: 20px;
        border-radius: 10px;
        color: white;
        border: 1px solid white;
        background-color: transparent;
        font-weight: 300;
        transition: all 0.2s ease;
        &:last-child {
            background-color: #fff;
            color: #000;
            &:hover {
            background-color: transparent;
            color: white;
            }
        }
        &:hover {
            background-color: #fff;
            color: #000;
        }
        }
    }
    }
    .slidingTextContainer {
    width: 50%;
    position: absolute;
    bottom: -80px;
    white-space: nowrap;
    color: #ffffff09;
    font-weight: bold;
    font-size: 50vh;
    user-select: none;
    }
    .imageContainer {
    position: absolute;
    overflow: hidden;
    top: 150px;
    right: 270px;
    img {
        width: 100%;
        max-width: 450px;
        height: 450px;
        object-fit: cover;
    }
    }
